@page "/add-organization"

@using OpenReferralPOV.Data
@using OpenReferralPOV.Services

@inject IOpenReferralOrganisationService ReferralService


@if (orgCreated)
{
    <h3>Organization Created</h3>
}
else
{
    <EditForm Model="@organization" OnValidSubmit="@HandleValidSubmit">

        <h3>Add Organization</h3>

        <label for="Name">Name</label>
        <InputText id="Name" @bind-Value="@organization.Name" />

        <label for="Description">Description</label>
        <InputText id="Description" @bind-Value="@organization.Description" />

        <label for="Charity Number">Charity Number</label>
        <InputNumber id="CharityNumber" @bind-Value="@organization.CharityNumber" />

        <label for="Url">Url</label>
        <InputText id="Url" @bind-Value="@organization.Url" />

        <button type="submit">Submit</button>
    </EditForm>
}

@code {
    public Organization organization { get; set; } = new Organization();
    public bool orgCreated { get; set; } = false;

    private async Task HandleValidSubmit()
    {
        organization = await ReferralService.AddOrganization(organization);
        orgCreated = true;
    }
}
