@page "/manage-organisation/{OrgId}"
@using OpenReferralPOV.Data
@using OpenReferralPOV.Services

@inject IOpenReferralOrganisationService OrgService
@inject IOpenReferralMembershipRequestsService MemberService
@inject IOpenReferralKeyContactService KeyContactService
@inject NavigationManager NavManager
@if (orgUpdated)
{
    <h3>Organization Updated</h3>
}
else
{


    <h3>Manage Organization</h3>

    <input type="button" name="AddService" class="button1" value="Add Service" @onclick="@(e => NavigateToAddService(organization.Id))" />
    <a class="" href="manage-organisation/{@organization.Id}">Manage Org</a>

    <EditForm Model="@organization" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <label for="Name">Name</label>
        <InputText id="Name" @bind-Value="@organization.Name" />

        <label for="Description">Description</label>
        <InputText id="Description" @bind-Value="@organization.Description" />

        <label for="Charity Number">Charity Number</label>
        <InputNumber id="CharityNumber" @bind-Value="@organization.CharityNumber" />

        <label for="Url">Url</label>
        <InputText id="Url" @bind-Value="@organization.Url" />

        <DataAnnotationsValidator />
        <ValidationSummary />
        <button type="submit">Submit</button>
    </EditForm>


    <p>Admins/Key Contacts of the Organisation</p>
    <table class="table">
        <thead>
            <tr>
                <th>User Email</th>
                <th>Is Admin</th>
                <th>Is Pending</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in keyContacts)
            {
                <tr>
                    <td>@contact.UserEmail</td>
                    <td>@contact.IsAdmin</td>
                    <td>@contact.IsPending</td>
                    <td>
                        <input type="button" name="Reject" class="button1" value="Remove" @onclick="@(e => RemoveKeyContact(contact))" disabled="@contact.DisabledButton" />
                    </td>
                </tr>

            }
        </tbody>
    </table>

    <p>Members of the  Organisation</p>
    <table class="table">
        <thead>
            <tr>
                <th>User Email</th>
                <th>Membership Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in Memberships)
            {
                <tr>
                    <td>@member.Email</td>
                    <td>@member.Status</td>
                    <td>
                        <input type="button" name="Reject" class="button1" value="Remove" @onclick="@(e => HandleDenyRequest(member))" disabled="@member.DisableButton" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

@code {

    [Parameter]
    public string OrgId { get; set; }

    public bool orgUpdated { get; set; } = false;

    public KeyContact keyContact { get; set; } = new KeyContact() { IsAdmin = true, IsPending = false };

    public Organization organization { get; set; } = new Organization();

    public IEnumerable<KeyContact> keyContacts = new List<KeyContact>();

    public IEnumerable<MembershipRequests> Memberships = new List<MembershipRequests>();


    protected override async Task OnInitializedAsync()
    {
        organization = await OrgService.GetOrganisation(OrgId);
        keyContacts = await KeyContactService.GetKeyContactsForOrg(OrgId);
        Memberships = await MemberService.GetAllMembersOfOrg(OrgId);
    }

    protected async Task HandleDenyRequest(MembershipRequests request)
    {
        request.DisableButton = true;
        await MemberService.HandleDenyRequestForJoiningOrg(request);
    }

    private async Task RemoveKeyContact(KeyContact contact)
    {
        contact.DisabledButton = true;
        await KeyContactService.RemoveKeyContact(contact);
    }

    private async Task HandleValidSubmit()
    {
        organization = await OrgService.UpdateOrganisation(organization);
        orgUpdated = true;
    }

    private async Task NavigateToAddService(string orgId)
    {
        NavManager.NavigateTo($"add-service/{orgId}");

    }
}
